html, body {
    color: #636b6f;
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

/* контент */
.content div {
    margin: 0;
    padding: 0;
}

/* список пользователей */
.users {
    background: lightgray;
    display: inline-block;
    height: 100vh;
    left: 0;
    min-width: 150px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    width: 15%;
}

.users li {
    list-style-type: none;
    display: block;
    padding: 5px 0 5px 15px;
}

.users li:hover {
    background: darkgray;
}

/**************************************/

/* чат */
.chat {
    background: whitesmoke;
    display: inline-block;
    height: 100vh;
    min-width: 650px;
    position: absolute;
    right: 0;
    top: 0;
    width: 85%;
}

.message-history {
    height: calc(100vh - 40px);
    overflow-y: scroll;
}

.message-history li {
    list-style-type: none;
    display: block;
    padding: 5px 0 5px 25px;
}

.message-history li:hover {
    background: lightyellow;
}

.message-history span.message-title {
    font-weight: bold;
}

.message-history span.message-likes {
    cursor: pointer;
    float: right;
    width: 100px;
}

.message-history span.message-remove {
    cursor: pointer;
    float: left;
    left: 5px;
    position:absolute;
}

.message-history span.message-content {
    /**/
}

.message-history span.message-attachments {
    display: block;
}

.message-attachments img {
    max-height: 240px;
    max-width: 320px;
}

.upload-image,
.uploaded-youtube > img {
    margin: 5px 0 5px 5px;
    max-height: 90px;
    max-width: 120px;
}

.upload-link {
    display: block;
    min-height: 20px;
    margin: 5px 0 5px 5px;
    overflow-x: hidden;
}
.uploaded-link > span,
.uploaded-youtube > span {
    cursor: pointer;
    padding: 3px;
    margin: 0 5px;
}

.message-input {
    bottom: 10px;
    position: absolute;
    right: 0;
    width: 100%;
}

.message-input #imgPreview,
.message-input #linkPreview,
.message-input #youtubePreview {
    background: rgba(255,255,255,1);
    margin-left: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

#message-content {
    margin-left: 15px;
    width: 60%;
}